In [1]:
import pandas as pd

In [2]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [3]:
df= pd.read_csv("twitter16m.csv", encoding='latin1', header=None)

In [4]:
df.head(5)

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
# We concern only sentiment and tweets columns thai is column 0 & 5
df= df[[5,0]]

In [6]:
df.columns= ['tweets','sentiment']
df.head(3)

                                              tweets  sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1  is upset that he can't update his Facebook by ...          0
2  @Kenichan I dived many times for the ball. Man...          0

In [7]:
df['sentiment'].value_counts()

0    800000
4    800000
Name: sentiment, dtype: int64

In [8]:
sent_map= {0: 'negative', 4:'positive'}

## Word Counts

In [9]:
# Creating a column for word counts
df['word_counts']= df['tweets'].apply(lambda x: len(str(x).split()))

In [10]:
df.head(5)

                                              tweets  sentiment  word_counts
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0           19
1  is upset that he can't update his Facebook by ...          0           21
2  @Kenichan I dived many times for the ball. Man...          0           18
3    my whole body feels itchy and like its on fire           0           10
4  @nationwideclass no, it's not behaving at all....          0           21

## Character Counts

In [11]:
# Creating a column for character counts
df['char_counts']= df['tweets'].apply(lambda x: len(x))

In [12]:
df.head(2)

,tweets,sentiment,word_counts,char_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111

## Average Word Length

In [13]:
def get_avg_word_len(x):
    words= x.split()
    word_len=0
    for word in words:
        word_len=word_len + len(word)
    return word_len/len(words)  # != len(x)/len(words)

In [14]:
df['avg_word_len']= df['tweets'].apply(lambda x: get_avg_word_len(x))

In [15]:
df.head(2)

,tweets,sentiment,word_counts,char_counts,avg_word_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714

## STOP WORDS

In [16]:
print(STOP_WORDS)

{'up', 'three', 'really', 'done', 'becomes', 'thereupon', 'without', 'per', 'but', 'therefore', 'perhaps', 'same', 'were', 'beside', '’ll', 'she', 'often', 'wherein', 'another', 'mine', 'your', 'empty', 'has', 're', 'while', '‘d', 'hence', 'cannot', 'none', 'somehow', 'with', 'third', 'fifty', 'thru', 'least', 'toward', 'always', 'its', 'out', 'go', 'however', 'therein', '’d', 'well', 'give', 'who', 'meanwhile', '‘re', 'already', 'ourselves', 'once', 'someone', 'noone', 'quite', 'just', 'else', 'us', 'which', 'anywhere', 'everywhere', 'have', 'less', 'what', 'afterwards', 'indeed', 'among', 'a', 'become', 'nowhere', 'still', 'five', 'hundred', 'keep', 'my', '’m', 'latterly', 'ever', 'are', 'some', 'doing', 'whereas', 'whom', 'was', 'take', '’s', 'beforehand', 'is', 'twelve', 'wherever', 'amount', "'ll", 'four', 'whenever', 'where', 'because', 'elsewhere', 'more', 'make', 'n’t', 'whereupon', 'together', 'anyhow', 'forty', 'an', 'am', 'get', 'whose', 'did', 'will', 'them', 'must', 'many', 'used', 'whole', 'our', 'front', 'sometime', 'top', 'during', 'or', 'across', 'others', '‘m', 'unless', 'also', 'you', 'no', 'moreover', 'than', 'own', 'himself', 'from', 'if', 'they', 'does', 'at', 'off', 'otherwise', 'down', 'either', 'first', 'not', 'this', 'somewhere', 'so', 'over', 'should', 'alone', 'between', 'been', 'that', 'thus', 'yourself', 'formerly', 'each', 'hereupon', 'whither', 'becoming', 'most', 'both', 'why', 'had', 'seems', '‘ve', 'now', 'whatever', 'herself', 'as', 'nothing', 'side', 'the', 'besides', 'when', 'themselves', 'say', 'sixty', '‘ll', 'since', 'might', 'even', 'rather', 'except', 'hers', 'nine', 'too', 'before', 'onto', "n't", 'name', 'behind', 'everything', 'every', 'be', 'whereby', 'part', 'all', 'few', 'anyway', 'n‘t', 'anyone', "'ve", 'became', 'seeming', 'such', 'whoever', 'above', 'their', 'he', 'although', 'those', 'by', 'myself', 'for', 'in', 'until', 'it', '’ve', 'into', 'next', 'serious', 'please', 'former', 'on', 'though', 'nevertheless', 'show', 'there', 'amongst', "'re", 'do', 'against', 'seem', 'hereafter', 'using', 'two', 'call', 'i', 'ten', 'towards', 'here', 'everyone', 'can', 'six', 'nobody', 'last', "'s", 'through', 'how', 'his', 'see', 'only', 'whereafter', "'d", 'whether', 'further', '’re', 'beyond', 'would', 'yours', 'may', 'him', 'these', 'mostly', 'seemed', 'never', "'m", 'and', 'bottom', 'twenty', '‘s', 'enough', 'nor', 'of', 'within', 'made', 'thence', 'move', 'could', 'several', 'around', 'ours', 'thereafter', 'latter', 'almost', 'hereby', 'again', 'then', 'neither', 'below', 'due', 'yet', 'one', 'much', 'via', 'itself', 'regarding', 'put', 'eight', 'thereby', 'me', 'full', 'yourselves', 'along', 'something', 'under', 'to', 'whence', 'namely', 'very', 'various', 'back', 'anything', 'we', 'about', 'being', 'after', 'ca', 'her', 'any', 'throughout', 'other', 'sometimes', 'fifteen', 'upon', 'eleven', 'herein'}

In [17]:
# Just for understanding the next code that how many stop words included in tweets
x= "this is text data"

In [18]:
x.split()

['this', 'is', 'text', 'data']

In [19]:
[t for t in x.split() if t in STOP_WORDS]

['this', 'is']

In [20]:
len([t for t in x.split() if t in STOP_WORDS])

2

In [21]:
df['stop_words_len']=df['tweets'].apply(lambda x: len([t for t in x.split() if t in STOP_WORDS]))

In [22]:
df.head(2)

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9

## Count #Hashtags and @Mention

In [23]:
x= "This #hashtag and this is @mention"

In [25]:
[t for t in x.split() if t.startswith('#')]

['#hashtag']

In [27]:
df['hashtags_counts']= df['tweets'].apply(lambda x: len([t for t in x.split() if t.startswith('#')]))
df['mentions_counts']= df['tweets'].apply(lambda x: len([t for t in x.split() if t.startswith('@')]))

In [28]:
df.head(2)

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0

## If Numeric digits are present in tweets

In [29]:
df['numerics_count']=df['tweets'].apply(lambda x: len([t for t in x.split() if t.isdigit()]))

In [31]:
df.head(2)

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0

## Upper Case Word Count

In [32]:
df['upper_counts']= df['tweets'].apply(lambda x: len([t for t in x.split() if t.isupper() and len(x)>3]))

In [33]:
df.head(2)

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0,0

In [34]:
df.loc[96]['tweets']

"so rylee,grace...wana go steve's party or not?? SADLY SINCE ITS EASTER I WNT B ABLE 2 DO MUCH  BUT OHH WELL....."

## Preprocessing and Cleaning Data

In [35]:
df['tweets']= df['tweets'].apply(lambda x: x.lower())

In [36]:
df.head(5)

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his facebook by ...,0,21,111,4.285714,9,0,0,0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0,1

## Contraction To Expansion

In [38]:
# don't to do not , i n u, I and You ,etc

In [39]:
'''
# For contraction, there is a library, we can use this code
# import library
import contractions
# contracted text
text = 'I'll be there within 5 min. Shouldn't you be there too?
I'd love to see u there my dear. It's awesome to meet new friends.
We've been waiting for this day for so long.'

# creating an empty list
expanded_words = []
for word in text.split():
# using contractions.fix to expand the shortened words
expanded_words.append(contractions.fix(word))

expanded_text = ' '.join(expanded_words)
print('Original text: ' + text)
print('Expanded_text: ' + expanded_text)
'''

"\n# For contraction, there is a library, we can use this code\n# import library\nimport contractions\n# contracted text\ntext = 'I'll be there within 5 min. Shouldn't you be there too?\nI'd love to see u there my dear. It's awesome to meet new friends.\nWe've been waiting for this day for so long.'\n\n# creating an empty list\nexpanded_words = []\nfor word in text.split():\n# using contractions.fix to expand the shortened words\nexpanded_words.append(contractions.fix(word))\n\nexpanded_text = ' '.join(expanded_words)\nprint('Original text: ' + text)\nprint('Expanded_text: ' + expanded_text)\n"

In [47]:
contractions= {
  "ain't": "am not",
  "aren't": "are not",
  "can't": "cannot",
  "can't've": "cannot have",
  "'cause": "because",
  "could've": "could have",
  "couldn't": "could not",
  "couldn't've": "could not have",
  "didn't": "did not",
  "doesn't": "does not",
  "don't": "do not",
  "hadn't": "had not",
  "hadn't've": "had not have",
  "hasn't": "has not",
  "haven't": "have not",
  "he'd": "he would",
  "he'd've": "he would have",
  "he'll": "he will",
  "he'll've": "he will have",
  "he's": "he is",
  "how'd": "how did",
  "how'd'y": "how do you",
  "how'll": "how will",
  "how's": "how is",
  "i'd": "i would",
  "i'd've": "i would have",
  "i'll": "i will",
  "i'll've": "i will have",
  "i'm": "i am",
  "i've": "i have",
  "isn't": "is not",
  "it'd": "it had",
  "it'd've": "it would have",
  "it'll": "it will",
  "it'll've": "it will have",
  "it's": "it is",
  "let's": "let us",
  "ma'am": "madam",
  "mayn't": "may not",
  "might've": "might have",
  "mightn't": "might not",
  "mightn't've": "might not have",
  "must've": "must have",
  "mustn't": "must not",
  "mustn't've": "must not have",
  "needn't": "need not",
  "needn't've": "need not have",
  "o'clock": "of the clock",
  "oughtn't": "ought not",
  "oughtn't've": "ought not have",
  "shan't": "shall not",
  "sha'n't": "shall not",
  "shan't've": "shall not have",
  "she'd": "she would",
  "she'd've": "she would have",
  "she'll": "she will",
  "she'll've": "she will have",
  "she's": "she is",
  "should've": "should have",
  "shouldn't": "should not",
  "shouldn't've": "should not have",
  "so've": "so have",
  "so's": "so is",
  "that'd": "that would",
  "that'd've": "that would have",
  "that's": "that is",
  "there'd": "there had",
  "there'd've": "there would have",
  "there's": "there is",
  "they'd": "they would",
  "they'd've": "they would have",
  "they'll": "they will",
  "they'll've": "they will have",
  "they're": "they are",
  "they've": "they have",
  "to've": "to have",
  "wasn't": "was not",
  "we'd": "we had",
  "we'd've": "we would have",
  "we'll": "we will",
  "we'll've": "we will have",
  "we're": "we are",
  "we've": "we have",
  "weren't": "were not",
  "what'll": "what will",
  "what'll've": "what will have",
  "what're": "what are",
  "what's": "what is",
  "what've": "what have",
  "when's": "when is",
  "when've": "when have",
  "where'd": "where did",
  "where's": "where is",
  "where've": "where have",
  "who'll": "who will",
  "who'll've": "who will have",
  "who's": "who is",
  "who've": "who have",
  "why's": "why is",
  "why've": "why have",
  "will've": "will have",
  "won't": "will not",
  "won't've": "will not have",
  "would've": "would have",
  "wouldn't": "would not",
  "wouldn't've": "would not have",
  "y'all": "you all",
  "y'alls": "you alls",
  "y'all'd": "you all would",
  "y'all'd've": "you all would have",
  "y'all're": "you all are",
  "y'all've": "you all have",
  "you'd": "you had",
  "you'd've": "you would have",
  "you'll": "you you will",
  "you'll've": "you you will have",
  "you're": "you are",
  "you've": "you have"
}

In [48]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value= contractions[key]
            x=x.replace(key,value)
        return x
    else:
        return x

In [51]:
x= "hi, i'd be happy"

In [52]:
cont_to_exp(x)

'hi, i would be happy'

In [53]:
%%time
df['tweets']= df['tweets'].apply(lambda x: cont_to_exp(x))

Wall time: 52.6 s

In [54]:
df.head(3)

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1

## Count and Remove emails

In [55]:
import re

In [56]:
x= 'hi my email is abdulbasit@yahoo.com'

In [58]:
re.findall(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)',x)

['abdulbasit@yahoo.com']

In [59]:
df['emails']=df['tweets'].apply(lambda x: re.findall(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)',x))

In [60]:
df['emails_count']=df['emails'].apply(lambda x: len(x))

In [61]:
df[df['emails_count']>0]

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count
4054,i want a new laptop. hp tx2000 is the bomb. :...,0,20,103,4.150000,6,0,0,0,4,[gabbehhramos@yahoo.com],1
7917,who stole elledell@gmail.com?,0,3,31,9.000000,1,0,0,0,0,[elledell@gmail.com],1
8496,@alexistehpom really? did you send out all th...,0,20,130,5.500000,11,0,1,0,0,[missataari@gmail.com],1
10290,@laureystack awh...that is kinda sad lol add ...,0,8,76,8.500000,0,0,1,0,0,[hello.kitty.65@hotmail.com],1
16413,"@jilliancyork got 2 bottom of it, human error...",0,21,137,5.428571,7,0,1,1,0,[press@linkedin.com],1
...,...,...,...,...,...,...,...,...,...,...,...,...
1588338,@boudoirsextoys do not forget to shoot me an e...,4,21,127,5.047619,10,0,1,0,1,[hello@tastelikekisses.com],1
1589132,"hi there , anybody got a job for me oil &amp;...",4,15,98,5.533333,4,0,0,0,0,[aadvanspijk@yahoo.co.uk],1
1590489,"@clericaaron yes, lbruton@tulsalanparty.com is...",4,14,95,5.785714,6,0,1,0,1,[lbruton@tulsalanparty.com],1
1591675,@miss_ellen good morning!!!! congrats! se...,4,9,77,7.111111,2,0,1,0,0,[jill@q985fm.com],1
1599053,@thejoshlynn you are! btw send me an email. wa...,4,19,145,6.631579,7,0,1,0,1,[marni@creativecustomcardboxes.com],1

In [62]:
# Remove email from tweets
df['tweets']=df['tweets'].apply(lambda x: re.sub(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', '',x))

In [63]:
df.head()

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1,[],0
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1,[],0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0
4,"@nationwideclass no, it is not behaving at all...",0,21,111,4.285714,10,0,1,0,1,[],0

In [64]:
df[df['emails_count']>0].head()

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count
4054,i want a new laptop. hp tx2000 is the bomb. :...,0,20,103,4.150000,6,0,0,0,4,[gabbehhramos@yahoo.com],1
7917,who stole ?,0,3,31,9.000000,1,0,0,0,0,[elledell@gmail.com],1
8496,@alexistehpom really? did you send out all th...,0,20,130,5.500000,11,0,1,0,0,[missataari@gmail.com],1
10290,@laureystack awh...that is kinda sad lol add ...,0,8,76,8.500000,0,0,1,0,0,[hello.kitty.65@hotmail.com],1
16413,"@jilliancyork got 2 bottom of it, human error...",0,21,137,5.428571,7,0,1,1,0,[press@linkedin.com],1

## Count URLs and Remove it

In [65]:
x= 'hi, to watch more visit https://youtube.com/gshjskbsk'

In [66]:
re.findall(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?',x)

[('https', 'youtube.com', '/gshjskbsk')]

In [68]:
# length of urls in each tweet
df['urls_flag']= df['tweets'].apply(lambda x: len(re.findall(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?',x)))

In [69]:
# Testing on our x
re.sub(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?','',x)

'hi, to watch more visit '

In [70]:
# Now on tweets to remove urls
df['tweets']= df['tweets'].apply(lambda x: re.sub(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?','',x))

In [71]:
df.head()

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count,urls_flag
0,"@switchfoot - awww, that is a bummer. you sh...",0,19,115,5.052632,4,0,1,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,"@nationwideclass no, it is not behaving at all...",0,21,111,4.285714,10,0,1,0,1,[],0,0

In [72]:
df.loc[0]['tweets']

'@switchfoot  - awww, that is a bummer.  you shoulda got david carr of third day to do it. ;d'

## Remove RT (Re Tweets)

In [73]:
df['tweets']=df['tweets'].apply(lambda x: re.sub('RT', '', x))

In [74]:
df.head()

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count,urls_flag
0,"@switchfoot - awww, that is a bummer. you sh...",0,19,115,5.052632,4,0,1,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,"@nationwideclass no, it is not behaving at all...",0,21,111,4.285714,10,0,1,0,1,[],0,0

## Special Characters removal or Punctuation Removal

In [75]:
df['tweets']=df['tweets'].apply(lambda x: re.sub('[^A-Z a-z 0-9-]+', '', x))

In [76]:
df.head()

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count,urls_flag
0,switchfoot - awww that is a bummer you shoul...,0,19,115,5.052632,4,0,1,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,kenichan i dived many times for the ball manag...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,nationwideclass no it is not behaving at all i...,0,21,111,4.285714,10,0,1,0,1,[],0,0

## Remove Multiple Spaces

In [77]:
x= 'Thanks for   watching   video'

In [79]:
" ".join(x.split())

'Thanks for watching video'

In [80]:
df['tweets']=df['tweets'].apply(lambda x: " ".join(x.split()))

In [81]:
df.head(2)

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count,urls_flag
0,switchfoot - awww that is a bummer you shoulda...,0,19,115,5.052632,4,0,1,0,1,[],0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0,0

## Remove HTML tags

In [84]:
from bs4 import BeautifulSoup

In [85]:
x='<html><h2>Thanks for watching</h2></html>'

In [86]:
BeautifulSoup(x,'lxml').get_text()

'Thanks for watching'

In [87]:
%%time
df['tweets']=df['tweets'].apply(lambda x: BeautifulSoup(x,'lxml').get_text())

Wall time: 15min 18s

## Remove Accented Characters

In [88]:
import unicodedata

In [89]:
x= 'èaccent grave'

In [90]:
def remove_accented_chars(x):
    x= unicodedata.normalize("NFKD",x).encode('ascii','ignore').decode('utf-8','ignore')
    return x

In [91]:
remove_accented_chars(x)

'eaccent grave'

In [92]:
df['tweets']=df['tweets'].apply(lambda x: remove_accented_chars(x))

# SPACY and NLP

## Remove Stop Words

In [93]:
import spacy

In [94]:
x= 'this is stop words removal code'

In [95]:
" ".join([t for t in x.split() if t not in STOP_WORDS])

'stop words removal code'

In [96]:
df['tweets']=df['tweets'].apply(lambda x: " ".join([t for t in x.split() if t not in STOP_WORDS]))

In [97]:
df.head()

,tweets,sentiment,word_counts,char_counts,avg_word_len,stop_words_len,hashtags_counts,mentions_counts,numerics_count,upper_counts,emails,emails_count,urls_flag
0,switchfoot - awww bummer shoulda got david car...,0,19,115,5.052632,4,0,1,0,1,[],0,1
1,upset update facebook texting cry result schoo...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,kenichan dived times ball managed save 50 rest...,0,18,89,3.944444,7,0,1,0,1,[],0,0
3,body feels itchy like fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,nationwideclass behaving mad,0,21,111,4.285714,10,0,1,0,1,[],0,0

## Convert into base or root form of word

In [98]:
nlp= spacy.load('en_core_web_sm')

In [108]:
x= 'kenichan dived times ball managed save 50 rest'

In [100]:
# dive= dived, time= times, manage= managed

In [104]:
#x= 'i you he she they is am are'

In [106]:
def make_to_base(x):
    x_list=[]
    doc=nlp(x)
    
    for token in doc:
        lemma= str(token.lemma_)
        if lemma =='-PRON-' or lemma =='be':
            lemma= token.text
        x_list.append(lemma)
    print(" ".join(x_list))

In [109]:
make_to_base(x)

kenichan dive time ball manage save 50 rest

In [ ]:
# We can apply this approach to tweets but i will take hours, we are not doing right now

## Common Words Removal

In [110]:
# We are joing all data (onlly head) of tweets in text form

In [111]:
" ".join(df.head()['tweets'])

'switchfoot - awww bummer shoulda got david carr day d upset update facebook texting cry result school today blah kenichan dived times ball managed save 50 rest bounds body feels itchy like fire nationwideclass behaving mad'

In [112]:
# Now joining all tweets in text
text= " ".join(df['tweets'])

In [113]:
text= text.split()

In [114]:
# Now extracting frequency of each words
freq_comm= pd.Series(text).value_counts()

In [115]:
freq_comm

good               89366
day                82299
like               77735
-                  69662
today              64512
                   ...
kittu                  1
cryyyyyyyyyyyyy        1
newreporter            1
daygta                 1
speakinguph4h          1
Length: 787042, dtype: int64

In [117]:
# First top 20 occuring words
f20=freq_comm[:20]

In [118]:
# We will remove top 20 occuring words
df['tweets']=df['tweets'].apply(lambda x: " ".join([t for t in x.split() if t not in f20]))

## Rare Words Removal

In [119]:
rare20= freq_comm[-20:] #20 words having least frequency

In [120]:
rare20

andychandleruk           1
junealeesia              1
fanwalk                  1
5859                     1
colesaw                  1
seattleweekly            1
optusquot                1
easthampton              1
uhohhippos               1
tayastorm                1
zombiecaptnhook          1
anti-rheumatic           1
quotinfo-mercialsquot    1
movistar                 1
mizzdmartin              1
kittu                    1
cryyyyyyyyyyyyy          1
newreporter              1
daygta                   1
speakinguph4h            1
dtype: int64

In [121]:
rare= freq_comm[freq_comm.values==1]

In [122]:
rare

jennciv            1
darrinuser         1
clamatis           1
cacos              1
monthsyup          1
                  ..
kittu              1
cryyyyyyyyyyyyy    1
newreporter        1
daygta             1
speakinguph4h      1
Length: 535890, dtype: int64

In [123]:
# there are 535890 least frequency (1) words, we will not processed them, it will take huge time

In [124]:
# We will remove top 20 least occuring words
df['tweets']=df['tweets'].apply(lambda x: " ".join([t for t in x.split() if t not in rare20]))

## WORLD CLOUD VISUALIZATION

In [127]:
!pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.1.tar.gz (220 kB)
Requirement already satisfied: numpy>=1.6.1 in c:\users\abdul basit\anaconda3\lib\site-packages (from wordcloud) (1.20.3)
Requirement already satisfied: pillow in c:\users\abdul basit\anaconda3\lib\site-packages (from wordcloud) (8.4.0)
Requirement already satisfied: matplotlib in c:\users\abdul basit\anaconda3\lib\site-packages (from wordcloud) (3.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abdul basit\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\abdul basit\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\abdul basit\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\abdul basit\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six in c:\users\abdul basit\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.16.0)
Building wheels for collected packages: wordcloud
  Building wheel for wordcloud (setup.py): started
  Building wheel for wordcloud (setup.py): finished with status 'done'
  Created wheel for wordcloud: filename=wordcloud-1.8.1-cp39-cp39-win_amd64.whl size=161062 sha256=d75b38ed1f2807aaf0845350efa2d377543f72fe0440b1ed3fdcf9ab4a1ca9bc
  Stored in directory: c:\users\abdul basit\appdata\local\pip\cache\wheels\f9\7a\dd\06ef8b5dfe5483f6204133c08eeb16c287cc2c05e290ae2fc0
Successfully built wordcloud
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.1

In [128]:
import matplotlib.pyplot as plt
%matplotlib inline
from wordcloud import WordCloud

In [131]:
# We take 20000 words
x=' '.join(text[:2000])

In [132]:
len(text)

10853591

In [1]:
wc= WordCloud(width=800, height=400).generate(x)
plt.imshow(wc)
plt.axis('off')
plt.show()

NameError: name 'WordCloud' is not defined

In [ ]:
x

## Spelling Corrections

In [ ]:
!pip install -U textblob

In [ ]:
!python -m textblob.download_corpora

In [ ]:
from textblob import TextBlob

In [ ]:
x= 'thank forr waching this vidio carri'

In [ ]:
x= TextBlob(x).correct()

In [ ]:
x

## TOKENIZATION

In [ ]:
x= 'thanks4watching this video. please like it'

In [ ]:
TextBlob(x).words

In [ ]:
doc= nlp(x)
for token in doc:
    print(token)

## LEMMATIZATION

In [ ]:
x='runs run running ran'

In [ ]:
from textblob import Word

In [ ]:
for token in x.split():
    print(Word(token).lemmatize())

In [ ]:
doc= nlp(x)
for token in doc:
    print(token.lemma_)

## Detect Entities using NER of Spacy

In [ ]:
x='Breaking News: Donald Trump, the president of the USA is looking to sign a deal to mine the moon'

In [ ]:
doc= nlp(x)
for ent in doc.ents:
    print(ent.text + ' - ' + ent.label_ + ' - ' + str(spacy.explain(ent.label_)))

In [ ]:
from spacy import displacy

In [ ]:
displacy.render(doc, style='ent')

## Detecting Nouns

In [ ]:
x

In [ ]:
for noun in doc.noun_chunks:
    print(noun)

## Translation and Language Detection

In [ ]:
Language Code: https://www.loc.gov/standards/iso639-2/php/code_list.php

In [ ]:
x

In [ ]:
tb= TextBlob(x)

In [ ]:
tb.detect_language()

In [ ]:
# change in to Arabic
tb.translate(to='ar')

## Use Inbuilt Sentiment Classifier

In [ ]:
from textblob.sentiments import NaiveBayesAnalyzer

In [ ]:
x= 'we all stands together to fight with corona virus. we will win together'

In [ ]:
tb= TextBlob(x, analyzer=NaiveBayesAnalyzer())

In [ ]:
tb.sentiment

In [ ]:
x= 'we all are suffering from corona'

In [ ]:
tb= TextBlob(x, analyzer=NaiveBayesAnalyzer())

In [ ]:
tb.sentiment

# Advanced Text Processing

## N-Grams

In [ ]:
x= 'thanks for watching'

In [ ]:
tb= TextBlob(x)

In [ ]:
tb.ngrams(2)

In [ ]:
tb.ngrams(3)

## Bag of Words

In [ ]:
x= ['this is first sentence', 'this is second','this is last']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv= CountVectorizer(ngram_range=(1,1))
text_counts= cv.fit_transform(x)

In [ ]:
text_counts.toarray()

In [ ]:
cv.get_feature_names()

In [ ]:
bow= pd.DataFrame(text_counts.toarray(), columns=cv.get_feature_names())

In [ ]:
bow

In [ ]:
x

## Term Frequency

In [ ]:
x

In [ ]:
bow

In [ ]:
bow.shape

In [ ]:
tf= bow.copy()

In [ ]:
for index, row in enumerate(tf.itterows()):
    for col in row[1].index:
        tf.loc[index,col]=tf.loc[index, col]/sum(row[1].values)

In [ ]:
tf

## Inverse Document Frequency

In [ ]:
import numpy as np

In [ ]:
x_df= pd.DataFrame(x, columns=['words'])

In [ ]:
x_df

In [ ]:
bow

In [ ]:
N= bow.shape[0]
N

In [ ]:
bb= bow.astype('bool')
bb

In [ ]:
bb['is'].sum()

In [ ]:
cols= bb.columns
cols

In [ ]:
nz= []
for col in cols:
    nz.append(bb[col].sum())

In [ ]:
nz

In [ ]:
idf= []
for index, col in enumerate(cols):
    idf.append(np.log((N+1)/(nz[index]+1))+1)

In [ ]:
idf

In [ ]:
bow

## TDIDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf=TfidfVectorizer()
x_tfidf= tfidf.fit_transform(x_df['words'])

In [ ]:
x_tfidf.toarray()

In [ ]:
tfidf.idf_

In [ ]:
idf

# Word Embedding

## Spacy Word2Vec

In [ ]:
!python -m spacy download en_core_web_lg

In [ ]:
nlp= spacy.load('en_core_web_lg')

In [ ]:
doc=nlp('thank you! dog cat lion dfasss')

In [ ]:
for token in doc:
    print(token.text, token.has_vector)

In [ ]:
token.vector

In [ ]:
token.vector.shape

In [ ]:
nlp('cat').vector.shape

In [ ]:
for token1 in doc:http://localhost:8888/notebooks/Documents/NLP%20from%20Youtube/13-%20Complete%20Text%20Processing/Complete-Text-processing.ipynb#Word-Embedding
    for token2 in doc:
        print(token1.text, token2.text, token1.similarity(token2))
    print()

# Machine Learning Models for Text Classification

In [ ]:
df.shape

In [ ]:
# Using only 2000 data
df0=df[df['sentiment']==0].sample(2000)
df4=df[df['sentiment']==4].sample(2000)

In [ ]:
# combinig them
dfr= df0.append(df4)

In [ ]:
dfr.shape

In [ ]:
dfr

In [ ]:
# dropping tweets, sentiment and emails columns
dfr_feat= dfr.drop(labels=['tweets','sentiment','emails'],axis=1).reset_index(dop=True)

In [ ]:
dfr_feat

In [ ]:
y= dfr['sentiment']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv= CountVectorizer()
text_counts= cv.fit_transform(dfr['tweets'])

In [ ]:
text_counts.toarray().shape

In [ ]:
dfr_bow= pd.DataFrame(text_counts.toarray(), columns=cv.get_feature_names())

In [ ]:
dfr_bow

# ML ALGORITHMS

In [ ]:
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [ ]:
sgd= SGDClassifier(n_jobs=-1, random_state=42, max_iter=200)
lgr= LogisticRegression(random_state=42, max_iter=200)
lgrcv= LogisticRegressionCV(cv=2, random_state=42, max_iter=1000)
svm= LinearSVC(random_state=42, max_iter=200)
rfc= RandomForestClassifier(random_state=42, n_jobs=-1, n_estimators=200)

In [ ]:
clf= {'SGD':sgd,'LGR':lgr,'LGR-CV':lgrcv,'SVM':svm, 'RFC':rfc}

In [ ]:
clf.keys()

In [ ]:
def classify(X,y):
    scaler= MinMaxScaler(feature_range=(0,1))
    X=scaler.fir_transform(X)
    
    X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2, random_state=42, stratify=y)
    
    for key in clf.keys():
        clf[key].fit(X_train, y_train)
        y_pred = clf[key].predict(X_test)
        ac= accuracy_score(y_test, y_pred)
        print(key, " ---->", ac)

In [ ]:
%%time
classify(dfr_bow, y)

## Manual Feature

In [ ]:
dfr_feat.head(2)

In [ ]:
%%time
classify(dfr_feat,y)

## Manual + BOW

In [ ]:
X= dfr_feat.join(dfr_bow)
X

In [ ]:
%%time
classify(X,y)

## TFIDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
dfr.shape

In [ ]:
tfidf= TfidfVectorizer()
X= tfidf.fit_transform(dfr['tweets'])

In [ ]:
%%time
classify(pd.DataFrame(X.toarray()),y)

## Word2Vec

In [ ]:
def get_vec(x):
    doc= nlp(x)
    return doc.vector.reshape(1,-1)

In [ ]:
%%time
dfr['vec']= dfr['tweets'].apply(lambda x: get_vec(x))

In [ ]:
X= np.concatenate(dfr['vec'].to_numpy(),axis=0)

In [ ]:
X.shape

In [ ]:
classify(pd.DataFrame(X),y)

In [ ]:
# Prediction
def predict_w2v(x):
    for key in clf.keys():
        y_pred= clf[key].predict(get_vec(x))
        print(key, "--->", y_pred)

In [ ]:
predict_w2v("Hi, thanks for watching this video. please like and subscribe")

In [ ]:
predict_w2v("please let me know if you want more videos")